<mat-dialog-content class="flex flex-col gap-4 p-2 relative">
  <mat-spinner *ngIf="isLoading" diameter="40"
    class="!absolute !top-1/2 !left-1/2 !-translate-x-1/2 !-translate-y-1/2 z-100"></mat-spinner>
  <div class="!text-2xl !text-purple-700 !p-2 flex flex-col gap-3 ">
    {{ data ? 'Editar Servicio' : 'Nuevo Servicio' }}
    <mat-divider></mat-divider>
  </div>
  <div class="flex flex-wrap gap-5" [ngClass]="isLoading ? 'opacity-50' : ''">
    <div class="w-full md:w-[40%]">
      <label class="mb-1 text-xs text-gray-600">Nombre del Servicio <span class="text-red-500">*</span></label>
      <mat-form-field class="w-full">
        <input matInput required [(ngModel)]="new.name" placeholder="Ej: Corte de cabello">
      </mat-form-field>
    </div>

    <div class="w-full md:w-[23%]">
      <label class="mb-1 text-xs text-gray-600">Precio</label>
      <mat-form-field class="w-full">
        <input matInput [(ngModel)]="new.price" type="number" placeholder="Ej: 15000">
      </mat-form-field>
    </div>

    <div class="w-full md:w-[28%]">
      <label class="mb-1 text-xs text-gray-600">Duración (minutos)</label>
      <mat-form-field class="w-full">
        <input matInput [(ngModel)]="new.duration_minutes" type="number" placeholder="Ej: 45">
      </mat-form-field>
    </div>

    <div class="w-full">
      <label class="mb-1 text-xs text-gray-600">Descripción</label>
      <mat-form-field class="w-full">
        <textarea matInput class="!resize-none" [(ngModel)]="new.description"
          placeholder="Descripción del servicio"></textarea>
      </mat-form-field>
    </div>
  </div>
  <br>
  <div class="flex justify-between my-5 w-full flex-wrap">
    <div class="w-full md:w-[47%]">
      <h1 class="primary !text-lg">Productos incluidos</h1>
    </div>
    <div class="w-full md:w-[47%]">
      <p class="mb-1 primary">Añadir producto</p>
      <div class="flex gap-2 w-full">
        <mat-form-field class="min w-full">
          <input matInput [(ngModel)]="searchProduct" (input)="onSearchProduct()" [matAutocomplete]="searchProductM"
            placeholder="Busca el producto" name="searchProduct">
          <mat-icon matPrefix>search</mat-icon>
          <mat-autocomplete #searchProductM="matAutocomplete">
            <mat-option *ngFor="let product of filteredProducts" class="!p-3" (click)="addProduct(product)">
              <div class="flex flex-col">
                <div class="font-medium">{{ product.name }}</div>
              </div>
            </mat-option>
            <mat-option *ngIf="filteredProducts.length === 0 && searchProduct && searchProduct != ''" disabled>
              <div class="text-gray-500">No se encontraron servicios</div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div *ngIf="this.new.default_products && this.new.default_products.length > 0" class="p-2 bg-purple-100 my-2 rounded-md">
    <div class="my-1 p-2" *ngFor="let dp of this.new.default_products; let j = index">
      <label class="font-bold">{{dp.product?.name}}</label>
      <div class="flex justify-between my-2 items-end flex-wrap">

        <div class="w-[25%] md:w-[25%]">
          <label>cantidad</label>
          <mat-form-field class="min w-full">
            <label matSuffix>{{dp.product?.unit}}&nbsp;&nbsp;</label>
            <input matInput [(ngModel)]="dp.quantity" type="number">
          </mat-form-field>
        </div>
        <div class="w-[50%] md:w-[50%]">
          <label>¿Quién paga?</label>
          <mat-form-field class="w-full min">
            <mat-select [(ngModel)]="dp.cost_type">
              <mat-option value="cortesy">Barbería (cortesía)</mat-option>
              <mat-option value="client">Cliente</mat-option>
              <mat-option value="barber">Barbero</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="w-5">
          <mat-icon class="!text-red-700 cursor-pointer" (click)="removeProduct(j)">delete</mat-icon>
        </div>

      </div>
      <mat-divider *ngIf="j != (this.new.default_products?.length||0)-1"
        class="!border-gray-400 !w-[80%] !place-self-center"></mat-divider>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button matButton="outlined" class="!rounded-lg" (click)="onClose()">Cancelar</button>
  <button mat-flat-button class="!rounded-lg" color="primary" [disabled]="isLoading" (click)="onSave()">
    {{ data ? 'Guardar Cambios' : 'Crear Servicio' }}
  </button>

</mat-dialog-actions>